/* Variables */
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  color: #2c2c54;
  font-family: "Inconsolata", monospace;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24 auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn-one {
  border-color: #fff;
  color: #fff;
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.btn:hover {
  background-position: 0 100%;
  color: #2c2c54;
}

/* Navigation */
.navigation {
  background: #0097e6;
  padding: 12px 0;
  color: #fff;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* link pierwszego poziomu */
.navigation li {
  display: inline-block;
  margin-right: 36px;
  position: relative;
  font-size: 16px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
}

.navigation a:hover {
  color: #33d9b2;
}

.navigation ul ul li {
  display: block;
  margin-bottom: 12px;
}

.navigation ul ul {
  display: none;
  position: absolute;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
}

.navigation li:hover ul {
  display: block;
  text-align: center;
}

/* linki IIgo poziomu */
.navigation li li a {
  color: #0097e6;
  display: block;
}

.navigation li li a:hover {
  color: #33d9b2;
}

/* Splash*/
.splash {
  background: #0097e6;
  color: #fff;
  min-height: 500px;
  display: flex;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.page-title {
  margin: 0;
  font-size: 72px;
  word-spacing: 24px;
  line-height: 1.2;
}

.page-subtitle {
  margin: 24px 0;
  font-weight: 300;
  font-size: 16px;
}

.page-title span {
  font-style: italic;
  font-weight: 900;
}

/* Our services */
.services {
  margin: 96px 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.box-one,
.box-two,
.box-three {
  flex: 0 0 33.333%;
}

.box-one h2,
.box-two h2,
.box-three h2 {
  position: absolute;
  font-size: 144px;
  line-height: 1;
  top: -140px;
  opacity: 0.2;
  color: #33d9b2;
  font-size: 144px;
  line-height: 1;
  font-style: "Abril Fatface", cursive;
}

.box-one-title,
.box-two-title,
.box-three-title {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.container h1 {
  font-size: 48px;
  margin: 0 0 72px 0;
}

.box-one-subtitle,
.box-two-subtitle,
.box-three-subtitle {
  font-size: 14px;
  font-weight: 900;
  margin: 0;
}

.box-one-content,
.box-two-content,
.box-three-content {
  font-size: 14px;
  padding-right: 20px;
  margin: 0;
  padding-bottom: 20px;
}

.btn-two {
  border-color: #33d9b2;
  color: #33d9b2;
  background-image: linear-gradient(90deg, #33d9b2 50%, transparent 50%);
}

.btn-three {
  border-color: #ff5252;
  color: #ff5252;
  background-image: linear-gradient(90deg, #ff5252 50%, transparent 50%);
}

.btn-four {
  border-color: #0097e6;
  color: #0097e6;
  background-image: linear-gradient(90deg, #0097e6 50%, transparent 50%);
}

/* our work */
.box1,
.box2,
.box3,
.box4 {
  flex: 0 0 50%;
  min-height: 300px;
}

img {
  max-width: 250px;
  height: 100%;
}

.btn-five {
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
