/* Variables */

$font-header: "Signika Negative", sans-serif;
$font-text: "Inconsolata", monospace;
$font-number: "Abril Fatface", cursive;
$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-four: #2c2c54;
$color-five: #fff;
$transition: all 1s;

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  color: $color-four;
  font-family: $font-text;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
.section {
  padding: 96px 0;
}
.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24 auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: $font-text;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: $transition;
}

.btn-one {
  border-color: $color-five;
  color: $color-five;
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}
// .btn-one:hover {
//   color: $color-four;
// }

.btn:hover {
  background-position: 0 100%;
  color: $color-four;
}

/* Navigation */

.navigation {
  background: $color-one;
  padding: 12px 0;
  color: $color-five;
}
.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* link pierwszego poziomu */
.navigation li {
  display: inline-block;
  margin-right: 36px;
  position: relative;
  font-size: 16px;
}

.navigation a {
  text-decoration: none;
  color: $color-five;
  padding-left: 20px;
}
.navigation a:hover {
  color: $color-two;
}
.navigation ul ul li {
  display: block;
  margin-bottom: 12px;
}

.navigation ul ul {
  display: none;
  position: absolute;
  background: $color-five;
  // padding: 0 24px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
}
.navigation li:hover ul {
  display: block;
  text-align: center;
}

/* linki IIgo poziomu */
.navigation li li a {
  color: $color-one;
  display: block;
}
.navigation li li a:hover {
  color: $color-two;
}

/* Splash*/

.splash {
  background: $color-one;
  color: $color-five;
  min-height: 500px;
  display: flex;
}
.splash-inner {
  margin: auto;
  max-width: 70%;
}
.page-title {
  margin: 0;
  font-size: 72px;
  word-spacing: 24px;
  line-height: 1.2;
}
.page-subtitle {
  margin: 24px 0;
  font-weight: 300;
  font-size: 16px;
}

.page-title span {
  font-style: italic;
  font-weight: 900;
}

/* Our services */
.services {
  margin: 96px 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.box-one,
.box-two,
.box-three {
  flex: 0 0 33.333%;
}

.box-one h2,
.box-two h2,
.box-three h2 {
  position: absolute;
  font-size: 144px;
  line-height: 1;
  top: -140px;
  opacity: 0.2;
  color: $color-two;
  font-size: 144px;
  line-height: 1;
  font-style: $font-number;
}

.box-one-title,
.box-two-title,
.box-three-title {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.container h1 {
  font-size: 48px;
  margin: 0 0 72px 0;
}

.box-one-subtitle,
.box-two-subtitle,
.box-three-subtitle {
  font-size: 14px;
  font-weight: 900;
  margin: 0;
}

.box-one-content,
.box-two-content,
.box-three-content {
  font-size: 14px;
  padding-right: 20px;
  margin: 0;
  padding-bottom: 20px;
}
.btn-two {
  border-color: $color-two;
  color: $color-two;
  background-image: linear-gradient(90deg, $color-two 50%, transparent 50%);
}
.btn-three {
  border-color: $color-three;
  color: $color-three;
  background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);
}
.btn-four {
  border-color: $color-one;
  color: $color-one;
  background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);
}

/* our work */

.our-work .box {
  flex: 0 0 50%;
  min-height: 300px;
  position: relative;
  min-height: 300px;
  margin-bottom: 96px;
}

.our-work .box-image {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 1;
  text-align: left;
  margin: 0;
}

.our-work .box-image img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  max-width: 250px;
}

/* transparent-box dostosowuje się do tego rodzica,
 który ma pozycję inną niż static,
 czyli w naszym przypadku do rodzica box-image,
 ponieważ ma pozycję absolute
 */
.our-work .transparent-box {
  opacity: 0.3;
  background: $color-two;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 250px;
  transition: 1s;

  &:hover {
    top: 0;
    left: 0;
  }
}

.our-work .box-description {
  margin: 0 auto;
  padding: 36px 0px 36px 55%;
  text-align: left;
}

.our-work .btn-five {
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
  color: $color-two;
}
.our-work p:last-of-type {
  font-weight: bolder;
}

/* Contact */

.contact {
  background: $color-one;
  color: $color-five;
  padding: 96px 0 96px 0;
}
form {
  flex: 2 0 0;
  justify-content: flex-end;
  margin-right: 96px;
}
.specialist {
  flex: 1 0 0;
  font-size: 20px;
  font-family: $font-text;
}
.sales-bold {
  font-weight: 900;
  font-family: $font-text;
}
.field-wrap {
  display: flex;
  justify-content: flex-end;
  border: none;
}
.field-wrap input {
  flex: 1;
  padding: 10px;
  border: none;
  text-underline-position: below;
  background: $color-one;
  border-bottom: 3px solid $color-five;
  color: $color-five;
}

.field-wrap input::placeholder {
  color: $color-five;
}

.field-wrap textarea {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 3px solid $color-five;
  color: $color-five;
  background: $color-one;
}

.contact .btn-one {
  margin-top: 96px;
}

/* Footer */

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer li {
  font-size: 0;
  display: flex;
  padding-right: 30px;
}
footer {
  margin: 48px 0 48px 0;
  background: $color-one;
}
footer a{
  display: flex;
  font-size: 30px;
  width: 60px;
  height: 60px;
  background: $color-three;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 0;
}

footer i {
  font-size: 30px;


}

@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
  }
}
