/* Variables */

$font-header: "Signika Negative", sans-serif;
$font-text: "Inconsolata", monospace;
$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-four: #2c2c54;

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  color: $color-four;
  font-family: $font-text;
}
