/* Variables */

$font-header: "Signika Negative", sans-serif;
$font-text: "Inconsolata", monospace;
$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-four: #2c2c54;
$color-five: #fff;


/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  color: $color-four;
  font-family: $font-text;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
.section {
  padding: 96px 0;
}

/* Navigation */
.navigation {
  background: $color-one;
  padding: 12px 0;
  color:$color-five;
}
.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation li {
  display: contents;
  margin-right: 36px;
  position: relative;
}
.navigation a{
    text-decoration: none;
    color:$color-five;
    padding-left: 20px;
}
.navigation a:hover{
    color:#33d9b2;
}